.header{
  display: flex;
  flex-direction: row;
  height: 13vh;
  background: #d2d8e0;
  vertical-align: middle;
  align-items: center;
  margin: 0px;
  padding: 0px;
}
.img{
  height: 9vh;
  width: auto;
}